.background {
  position: relative;
  background: linear-gradient(107deg, #3186c3 6.46%, #004f86 68.08%);
}

.footer {
  padding: 70px 30px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  color: #e0e0e0;

  &-logo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .logo,
    svg {
      width: 100%;
      max-width: 185px;
    }
    &_text {
      font-size: 14px;
      line-height: 150%;
      max-width: 230px;
    }
  }
  &-download {
    display: flex;
    gap: 18px;
    margin-top: 32px;
  }
  // &-columns {
  //   width: 100%;
  //   display: flex;
  //   justify-content: space-between;
  //   flex-wrap: wrap;
  //   gap: 30px;

  &-columns-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 15px;

    &_title {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      line-height: normal;
    }

    &_content {
      display: flex;
      flex-direction: column;
      gap: 15px;
      div {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        strong {
          line-height: 160%;
        }
      }

      a {
        color: #e0e0e0;
        text-decoration: none;
      }
    }

    .footer-icons {
      flex-direction: row;
    }
  }

  &-columns-page {
    font-size: 14px;
  }
  // }
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  padding: 33px 30px 30px 30px;
  position: relative;
  p {
    color: var(--Transparent-white, rgba(255, 255, 255, 0.5));
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
  }
  .footer-icons {
    display: flex;
    gap: 15px;
    a {
      opacity: 0.6;
    }
    a:hover {
      opacity: 1;
    }
  }
}
.footer-copyright::before {
  content: '';
  position: absolute;
  width: calc(100% - 60px);
  height: 1px;
  background: rgba(255, 255, 255, 0.12);
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .footer {
    padding: 70px 15px;
  }
  .footer-copyright {
    padding: 33px 15px 30px 15px;
  }
  .footer-copyright::before {
    width: calc(100% - 30px);
  }
}
