@mixin base-btn {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border: 0.333px solid var(--Separators-Non-opaque, rgba(60, 60, 67, 0.36));
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 0;
  cursor: pointer;
}

.basket-page-container {
  width: 100%;
  padding: 0 0 50px 0;
  .delete {
    position: relative;
    margin-bottom: 15px;

    .ask {
      width: 270px;
      position: absolute;
      bottom: -130px;
      left: 0;
      border-top-right-radius: 14px;
      border-top-left-radius: 14px;
      background: linear-gradient(0deg, #fff 0%, #fff 100%),
        rgba(179, 179, 179, 0.82);
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2px;
      p {
        text-align: center;
        color: var(--Labels-Primary, #000);
        font-size: 17px;
        font-weight: 600;
        margin: 15px;
      }
      .btns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
        .clear {
          @include base-btn;
          color: var(--red, #f91616);
        }
        .cencel {
          @include base-btn;
          color: var(--main-color, #0063a9);
        }
      }
    }
  }

  .content {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &_left {
      width: 48%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    &_right {
      width: 48%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 30px;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      .orders {
        width: 100%;
        padding: 10px;
        display: inline-flex;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: 16px;
        background: #fff;

        &_left {
          display: flex;
          align-items: start;
          flex-direction: column;
          gap: 18px;

          > p {
            color: var(--Greyscale-Black-100, #000);
            font-size: 16px;
            font-weight: 500;
          }

          .images {
            display: flex;
            align-items: center;
            position: relative;
            width: 150px;
            height: 45px;

            .a {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 6;
            }
            .b {
              position: absolute;
              top: 0;
              left: 20px;
              z-index: 5;
            }
            .c {
              position: absolute;
              top: 0;
              left: 40px;
              z-index: 4;
            }
            .d {
              position: absolute;
              top: 0;
              left: 60px;
              z-index: 3;
            }
            .e {
              position: absolute;
              top: 0;
              left: 80px;
              z-index: 2;
            }
          }
        }
        &_right {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: space-between;
          gap: 25px;
          > h4 {
            color: #0066b0;
            font-size: 20px;
            font-weight: 700;
          }

          > p {
            color: var(--grey-2, #727272);
            font-size: 16px;
            font-weight: 500;
          }
        }
      }

      .line {
        border-bottom: 1px solid var(--light-grey, #ddd);
        width: 100%;
      }

      > h3 {
        color: var(--Greyscale-Black-100, #000);
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 20px;
      }

      .bonus {
        width: 100%;
        padding: 10px;
        border-radius: 16px;
        background: #fff;
        display: flex;
        flex-direction: column;

        > p {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 30px;

          .first {
            color: var(--Greyscale-Black-100, #000);
            font-size: 16px;
            font-weight: 500;
          }
          .second {
            color: #0066b0;
            font-size: 18px;
            font-weight: 700;
          }
        }

        > label {
          color: var(--grey-2, #727272);
          font-size: 12px;
          font-weight: 500;
          margin-bottom: 5px;
        }
        > input {
          width: 100%;
          outline: none;
          padding: 15px;
          border-radius: 10px;
          border: 1px solid var(--light-grey, #ddd);
        }
      }

      .quantity {
        width: 100%;
        padding: 10px;
        border-radius: 16px;
        background: #fff;
        display: flex;
        flex-direction: column;
        gap: 15px;

        > p {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .first {
            color: var(--grey, #5c5c5c);
            font-size: 16px;
            font-weight: 500;
          }
          .second {
            color: var(--grey, #5c5c5c);
            font-size: 16px;
            font-weight: 500;
          }
          .third {
            color: #000;
            font-size: 17px;
            font-weight: 600;
          }
          .fourth {
            color: var(--main-color, #0063a9);
            font-size: 18px;
            font-weight: 500;
          }
        }
        > button {
          color: #fff;
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          border-radius: 10px;
          background: var(--main-color, #0063a9);
          width: 100%;
          padding: 15px 0;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}

.emptyBasket {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > p {
    color: var(--grey-for-icons, #cecece);
    font-size: 27px;
    font-weight: 500;
  }
}
