.detail_page {
  width: 100%;

  .about_product {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      gap: 10%;
      .first-c {
        width: 65px;
        display: flex;
        height: 270px;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        gap: 15px;

        &::-webkit-scrollbar {
          width: 1px;
          border-radius: 5px;
        }
        &::-webkit-scrollbar-track {
          background: #4186b6;
        }

        ::-webkit-scrollbar-thumb {
          color: #4186b6;
        }

        .img {
          width: 57px;
          height: 57px;
          transition: 0.1s;
          border-radius: 8.614px;
          border: 1px solid transparent;

          &:hover {
            border: 1px solid var(--GENERAL, #2c7eb8);
          }
        }
      }
      .second-c {
        width: 350px;
        height: 350px;
        overflow: hidden;
        border-radius: 15px;
        background: #fff;
        position: relative;

        .heart {
          position: absolute;
          right: 10px;
          top: 10px;
          z-index: 3;
          padding: 6px 6px 0 6px;
          position: absolute;
          right: 10px;
          top: 10px;
          border-radius: 5.453px;
          background: rgba(219, 233, 255, 0.5);
          box-shadow: 0px 0px 3.333px 0px rgba(115, 115, 115, 0.1);
        }
      }
    }
    .third-c {
      width: 43%;
      display: flex;
      flex-direction: column;
      align-items: start;

      > h2 {
        color: var(--Greyscale-Black-100, #000);
        font-size: 20px;
        font-weight: 700;
        margin: 0;
      }

      > p {
        color: #797979;
        font-size: 16px;
        font-weight: 600;
        margin: 20px 0 5px 0;
      }

      .complects {
        height: 250px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 7px;
        &::-webkit-scrollbar {
          width: 4px;
          border-radius: 5px;
        }
        &::-webkit-scrollbar-track {
          background: #4186b6;
        }

        ::-webkit-scrollbar-thumb {
          color: #4186b6;
        }

        .c-img {
          width: 35px;
          height: 35px;
        }

        .complect {
          display: flex;
          align-items: center;
          border-radius: 10px;
          background: #fff;
          padding: 10px 15px;
          justify-content: space-between;
          transition: 0.2s;
          cursor: pointer;

          &:hover {
            background: rgba(45, 130, 190, 0.13);
          }

          .check {
            width: 12px;
            height: 12px;
            background: #ededed;
            border: 1px solid #ababab;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
              background: #5d5d5d;
              border: 1px solid #ababab;
            }
          }

          .checked {
            width: 12px;
            height: 12px;
            background: #5d5d5d;
            border: 1px solid #ababab;
            transition: 0.2s;
            cursor: pointer;
          }

          .title {
            color: var(--Greyscale-Black-100, #000);
            font-size: 13px;
            font-weight: 500;
            width: 60%;
          }
        }
      }
    }

    .fourth-c {
      border-radius: 10px;
      background: #fff;
      padding: 15px 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .top {
        > p {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 100%;

          .discount {
            color: #f21e1e;
            font-family:
              SF Pro Display,
              sans-serif;
            font-size: 27px;
            font-weight: 700;
            line-height: 150%; /* 40.5px */
            letter-spacing: 0.81px;
          }
          .price {
            color: #7b7b7b;
            font-family:
              SF Pro Display,
              sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 150%; /* 24px */
            letter-spacing: 0.48px;
            text-decoration-line: strikethrough;
          }
        }

        .articul {
          color: #6b6b6b;
          font-family:
            SF Pro Display,
            sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 21px */
        }

        .line {
          width: 100%;
          border-top: 1px solid #d6d6d6;
          margin: 15px 0;
        }

        .lists {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;
          > ul {
            li {
              color: #3286c2;
              font-family: Gilroy, sans-serif;
              font-size: 15px;
              font-weight: 600;
            }
          }
          .first-li {
            color: #73cb5e;
          }
          .second-li {
            color: #3286c2;
          }
        }
      }
      .bottom {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        .quantity {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;
          > h2 {
            color: #000;
            text-align: center;
            font-family: Gilroy, sans-serif;
            font-size: 14.091px;
            font-weight: 500;
            line-height: normal;
          }
        }
        .toBasket {
          width: 100%;
          padding: 10px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          text-align: center;
          font-family: Gilroy, sans-serif;
          font-size: 13.611px;
          font-weight: 500;
          line-height: normal;
          border-radius: 7.562px;
          background: #216a9d;
          border: none;
          cursor: pointer;
        }
      }
    }
  }

  .description {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 30px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    > h2 {
      color: #000;
      font-family: Gilroy, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: normal;
    }

    > p {
      overflow: hidden;
      color: #000;
      text-overflow: ellipsis;
      font-family: Gilroy, sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 150%; /* 22.5px */
    }
  }

  .same {
    width: 100%;
  }
}

@media (max-width: 1240px) {
  .detail_page {
    .about_product {
      width: 100%;
      height: 300px;

      .left {
        gap: 2%;
        .second-c {
          width: 300px;
          height: 300px;
        }
      }

      .third-c {
        width: 40%;
        > h2 {
          font-size: 18px;
        }
        .complects {
          height: 210px;
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .detail_page {
    .about_product {
      .third-c {
        > h2 {
          font-size: 16px;
        }
      }

      .fourth-c {
        .top {
          > p {
            .discount {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .detail_page {
    .about_product {
      .left {
        .second-c {
          width: 250px;
        }
      }
      .third-c {
        > h2 {
          font-size: 14px;
        }
        .complects {
          .complect {
            .title {
              color: var(--Greyscale-Black-100, #000);
              font-size: 10px;
              font-weight: 500;
              width: 65%;
            }
          }
        }
      }
      .fourth-c {
        .top {
          .lists {
            flex-direction: column;
            align-items: start !important;
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .detail_page {
    .about_product {
      gap: 15px;
      .left {
        .first-c {
          display: none;
        }
        .second-c {
          height: 280px;
        }
      }

      .third-c {
        width: 100%;
        > p {
          font-size: 14px;
          margin: 14px 0 2px 0;
        }
      }

      .fourth-c {
        display: none !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .detail_page .about_product {
    .left {
      width: 100%;
      .second-c {
        width: 100%;
        overflow: hidden;

        &__image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .third-c {
      display: none;
    }
  }
}
