.favourites_container {
  width: 100%;

  > h1 {
    margin: 0 0 20px 0;
  }

  .favourites {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
  }
}

@media (max-width: 426px) {
  .favourites_container {
    padding: 0 15px;
    padding-bottom: 120px;

    > h1 {
      display: none;
    }

    .favourites {
      margin-top: 15px;
    }
  }

  .header-search.favorite_search {
    > input {
      font-size: 15px;
      font-weight: 400;
      font-family: 'Gilroy-Regular';
      color: #727272;
      padding: 13.5px 15px 13.5px 15px;
    }

    > img {
      right: 15px;
      top: 50%;
      left: auto;
      transform: translateY(-50%);
    }
  }
}