.favourites_container {
  width: 100%;

  > h1 {
    margin: 30px 0 20px 0;
  }

  .favourites {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
  }
}
