.orders_history {
  width: 100%;

  .gray_text {
    color: var(--grey-2, #727272);
    font-size: 15px;
    font-weight: 400;
  }

  .date_order {
    margin: 30px 0;
    .dates {
      display: flex;
      align-items: center;
      gap: 25px;

      .date {
        padding: 6px 10px;
        border-radius: 10px;
        border: 1px solid var(--light-grey, #ddd);
        background: #fff;
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
        margin: 10px 0 50px 0;
        position: relative;

        > span {
          color: var(--Greyscale-Black-100, #000);
          font-size: 16px;
          font-weight: 400;
          margin: 0;
        }
      }
    }
    .orders {
      width: 100%;
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 5px;

      .order {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        border-radius: 10px;
        background: #fff;
        flex-wrap: wrap;
        gap: 15px;
        .user {
          display: flex;
          align-items: center;
          gap: 15px;

          &__name {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 5px;

            > p {
              color: #000;
              font-size: 16px;
              font-weight: 500;
            }
            > span {
              color: var(--main-color, #0063a9);
              font-size: 15px;
              font-weight: 400;
            }
          }
        }

        > h3 {
          color: #000;
          font-size: 16px;
          font-weight: 600;
        }
        > button {
          border-radius: 100px;
          padding: 5px 15px;
          border: none;
          color: #fff;
          font-size: 12px;
          font-weight: 500;
          cursor: pointer;
        }

        .first {
          background: #6f4bff;
        }
        .second {
          background: #0063a9;
        }
        .third {
          background: #34a6f6;
        }
      }
    }
  }
}
