.my_account {
  display: flex;
  justify-content: space-between;
  gap: 50px;

  .my_account_navigation {
    width: 100%;
    max-width: 377px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 290px;

    border-right: 1px solid #dddddd;

    .my_account_navigation_block {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .my_account_navigation_block_link {
        padding-inline: 15px;
        width: 100%;
        height: 64px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        text-decoration: none;
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        .my_account_navigation_block_label {
          display: flex;
          align-items: center;
          gap: 15px;
        }

        &.line {
          border-bottom: 1px solid #dddddd;
        }

        &.active {
          color: #2C7EB8;
        }

        &.logout_button {
          margin-bottom: 60px;

          background: transparent;
          outline: none;
          border: none;
          border-top: 1px solid #dddddd;

          cursor: pointer;
        }

        .fav_count {
          font-size: 15px;
          font-weight: 400;
          font-family: 'Gilroy-Regular';
          color: #0063A9;
          background: #D7EEFE;
          border-radius: 50%;
          width: 18px;
          height: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          justify-self: flex-end;
        }
      }
    }
  }

  .my_account_pages {
    width: 100%;

    .personal_data {
      .personal_data_title {
        margin-bottom: 30px;

        color: #000;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        font-family: 'Gilroy-bold', sans-serif;
        line-height: normal;
        width: 40%;
      }
      .top_block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 50px;
        .left {
          width: 100%;
          max-width: 360px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 27px;
          .avatar_update {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 27px;
            .avatar {
              object-fit: cover;
              object-position: center;
              width: 80px;
              height: 80px;
              border-radius: 50%;
            }

            .upload_button {
              background: transparent;
              outline: none;
              border: none;
              color: #2c7eb8;
              font-family: 'Gilroy-Regular', sans-serif;
              font-size: 15px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              text-decoration-line: underline;
              cursor: pointer;
            }
          }
          .bonus_indebtedness {
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: 11px;
            .block {
              padding: 15px;
              border-radius: 5px;
              background: #fff;
              .title {
                margin: 0;
                padding: 0;
                color: #000;
                font-family: 'Gilroy-Medium', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
              .line {
                margin: 5px 0 7px 0;
                width: 100%;
                height: 1px;
                display: block;
                background: #dadada;
              }
              .som {
                margin: 0;
                padding: 0;
                color: #0063a9;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-wrap: nowrap;
              }
            }
          }
          .qr_code {
            width: 100%;
            max-width: 214px;
            height: auto;
          }
        }
        .right {
          width: 100%;
          max-width: 400px;
          .form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .input_high_block {
              label {
                display: block;
                margin-bottom: 5px;
                color: #000;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
              .input {
                width: 100%;
                padding: 13px 10px;
                border-radius: 10px;
                outline: none;
                border: none;
                background-color: transparent;
                border: 1px solid #ddd;

                color: #575757;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                &.error {
                  border: 1px solid red;
                }

                &.input_wrap__phone {
                  border: none;
                  padding: 0;
                  border-radius: 0;
                }

                &.input_wrap {
                  background-color: transparent;
                  display: flex;
                  align-items: center;
                  padding: 7.5px 10px;
                }
              }
              .buttons_block {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 35px;
                .button_sex {
                  width: 100%;
                  max-width: 181px;
                  height: 35px;

                  border-radius: 10px;
                  background: #f8faff;
                  border: 1px solid #0063a9;

                  display: flex;
                  justify-content: center;
                  align-items: center;

                  color: #000;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;

                  cursor: pointer;

                  &.active {
                    background: #d7eefe;
                  }
                }
                .button_submit {
                  width: 100%;
                  max-width: 184px;
                  height: 46px;
                  outline: none;
                  border: none;

                  border-radius: 10px;
                  background: #0063a9;

                  display: flex;
                  justify-content: center;
                  align-items: center;

                  color: #fff;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;

                  cursor: pointer;

                  &.undo {
                    color: #000000;
                    background: #d4d4d4;
                  }
                }
              }
            }

            .input_wrap__flex {
              display: flex;
              gap: 13.06px;
              padding-right: 11.96px;
              margin-right: 10px;
              border-right: 1px solid #DDDDDD;
            }

            .input_wrap__flex > .icon {
              cursor: pointer;
            }

            .input_block {
              position: relative;
            }

            .input_block > .icon {
              position: absolute;
              top: 50%;
              left: 12.25px;
              transform: translateY(-50%);
              width: 24px;
              height: 24px;
            }

            .input_block > .input {
              background: transparent;
              padding-left: 44px;
            }

            .input_block > .input_date::-webkit-calendar-picker-indicator {
              width: 24px;
              height: 24px;
              position: absolute;
              left: 12.25px;
              opacity: 0;
              cursor: pointer;
            }

            .input_block > .input_date {
              font-family: "Inter", sans-serif;
            }

            .line {
              width: 100%;
              height: 1px;
              background: #cecece;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .my_account {
    .my_account_navigation {
      width: auto;
      .my_account_navigation_block {
        .my_account_navigation_block_link {
          font-size: 0;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .my_account {
    margin: 0 0 0 -15px;
    .my_account_pages {
      .personal_data {
        .top_block {
          flex-direction: column;
          .right {
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .my_account {
    gap: 15px;
    .my_account_pages {
      h1 {
        font-size: 24px;
      }
    }
    .my_account_navigation {
      .my_account_navigation_block {
        .my_account_navigation_block_link {
          height: auto;
          padding: 15px;
          gap: 0;
        }
      }
    }
  }
}
