.stories {
    margin-top: 30px;
    margin-bottom: 30px;

    &-back {
        background: #00000096;
        position: absolute;
        min-width: 100vw;
        min-height: 200vh;
        top: 0;
        left: 0;
        z-index: 10;
        cursor: pointer;
    }

    &-items {
        display: flex;

        gap: 30px;
        overflow-x: auto;
    }
    &-items::-webkit-scrollbar {
        height: 10px;
        border-radius: 5px;
        background-color: #f0f0f0;
    }
    &-items::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 5px;
    }
    &-items::-webkit-scrollbar-track {
        background-color: #f0f0f0;
        border-radius: 5px;
    }
    @media (max-width: 991px) {
        &-items::-webkit-scrollbar {
            display: none;
        }
    }
    &-item {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 7px;

        img {
            display: inline-block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            // border: 1.5px solid var(--grey, #5c5c5c);
        }
        p {
            text-align: center;
            font-size: 12px;
            font-weight: 400;
            font-family: 'Gilroy-Regular';
        }
    }
    &-empty {
        &-item {
        }
        &-img {
            width: 60px;
            height: 60px;
            background: #0000000d;
            border-radius: 50%;
            margin: 0 0 7px 0;
        }
        &-title {
            margin: 0 auto;
            width: 52px;
            height: 13px;
            background: #0000000d;
        }
    }

    &-image-wrap {
        overflow: hidden;
        height: 475px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        > img {
            max-height: 100%;
        }
    }

    &-modal {
        margin-top: 10px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        min-width: 590px;
        height: 500px;
        padding: 0 20px 20px 20px;
        border-radius: 15px;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
        z-index: 11;

        &-close {
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
        }

        img {
            max-width: 100%;
            border-radius: 15px;
        }
    }

    &-wrap {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 16px;
        gap: 21px;
    }

    &-container-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        flex-wrap: nowrap;
        width: 100%;
    }

    &-button {
        height: 6px;
        border-radius: 100px;
        background: #d9d9d9;
        cursor: pointer;
        transition: all .2s;

        &-active {
            height: 6px;
            border-radius: 100px;
            background: var(--main-color, #0063a9);
            cursor: pointer;
        }
    }
}

@media (max-width: 991px) {
    .stories {
        margin-bottom: 20px;
        &-modal {
            margin-top: 10px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            width: 100%;
            max-width: 480px;
            height: 560px;
            border-radius: 15px;
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
            z-index: 11;
        }
    }
}
