* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy-Regular', sans-serif;
  /* font-family: 'Gilroy-Medium', sans-serif; 
  font-family: 'Gilroy-Semibold', sans-serif;
  font-family: 'Gilroy-Heavy', sans-serif;  */
}

svg {
  cursor: pointer;
}
.loginnig {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.main-background > .container {
  padding: 0 30px;
}

.main-background {
  background-color: #f8faff;
  overflow: hidden;
}

@media (max-width: 768px) {
  .main-background.homeM {
    background: var(
      --gradient-3,
      linear-gradient(173deg, #0063a9 5.52%, #a5daff 30.07%)
    );
  }
  .main-background > .container {
    padding: 0 15px;
    margin-top: 90px;
  }
  .main-bottom {
    background: var(--lightest-grey, #f8f8f8);
    border-radius: 40px 40px 0px 0px;
    overflow: hidden;
    margin: 0 -15px;
    padding: 0 15px;
  }
}
