.wrapper {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8faff;
  @media (max-width: 768px) {
    .register-container {
      align-items: start;
      height: 100%;
    }

    .login-container,
    .register-container {
      padding: 25px;
    }
  }
  .login-container,
  .register-container {
    padding: 40px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);

    .container {
      gap: 36px;
    }
    .container-register {
      gap: 10px;
    }
    .container,
    .container-register {
      width: 333px;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .line {
        width: 100%;
        height: 1px;
        background: #ddd;
      }

      .description {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 7px;
        width: 100%;

        .desc {
          color: var(--main-color, #0063a9);
          font-family: Gilroy, sans-serif;
          font-size: 23px;
          font-weight: 700;
          line-height: normal;
        }

        .desc-sec {
          color: var(--grey-2, #727272);
          font-family: Gilroy, sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 10px;
        }
      }

      > form {
        margin-top: 15px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 36px;
        .input {
          padding: 10px;
          border: 1px solid #cecece; /* grey for icons */
          border-radius: 10px;
          width: 100%;
          position: relative;
          display: flex;
          align-items: center;

          .label {
            position: absolute;
            top: -20px;
            left: 0;
            color: var(--grey-2, #727272);
            text-align: center;
            font-family: Gilroy, sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: normal;
          }
          .passwrd-sec {
            position: absolute;
            bottom: -20px;
            right: 0;
            color: var(--grey-2, #727272);
            text-align: center;
            font-family: Gilroy, sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: normal;
          }

          > input {
            outline: none;
            border: none;
            padding: 0 10px;
            width: 100%;

            &::placeholder {
              color: var(--grey-for-icons, #cecece);
              text-align: start;
              font-family: Gilroy, sans-serif;
              font-size: 16px;
              font-weight: 400;
              line-height: normal;
            }
          }
          .PhoneInput {
            padding: 0 10px;

            .PhoneInputInput {
              outline: none;
              border: none;
              border-left: 1px solid var(--light-grey, #ddd);
              padding: 0 10px;
            }
          }
        }
      }
      .bottom-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 11px;
        .remember {
          display: flex;
          align-items: center;
          gap: 9px;

          > input {
            cursor: pointer;
            &::target-text {
              color: #000;
              text-align: center;
              font-family: Gilroy, sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }

          > label {
            color: var(--grey-2, #727272);
            text-align: center;
            font-family: Gilroy, sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: normal;
          }
        }
        .button {
          background: #0063a9;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          width: 100%;
        }
        .disabled {
          background: #ddd;
          color: #5c5c5c;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          width: 100%;
          cursor: not-allowed;
          pointer-events: all !important;
        }
      }

      .registration-link {
        color: #000;
        text-align: center;
        font-family: Gilroy, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        > a {
          color: #0063a9;
        }
      }
    }
  }
}
