.category-page {
  display: flex;
  // align-items: baseline;
  gap: 20px;
  justify-content: space-between;
  padding-bottom: 40px;
}
@media (max-width: 991px) {
  .category-page {
    flex-direction: column;
  }
}
