@import url('https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20879,20880');
@import url('https://fonts.cdnfonts.com/css/caros-soft?styles=51649');
@import 'abstracts/default.scss';
@import 'abstracts/variables.scss';
@import 'abstracts/mixins.scss';
@import 'layout/header.scss';
@import 'layout/footer.scss';
@import 'components/categories.scss';
@import 'components/products.scss';
@import 'components/stories.scss';
@import 'components/branches.scss';
@import 'components/news.scss';
@import 'components/bonusCurd.scss';
@import 'components/CatalogBlock.scss';
@import 'components/CatalogProducts.scss';
@import 'components/CatalogSidebar.scss';
@import 'layout/Breadcrumbs.scss';
@import 'pages/CategoryPage.scss';
@import 'layout/Breadcrumbs.scss';
@import './components/personalAccount.scss';
